.priceCardWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.priceCard {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  width: 272px;
  height: 542px;
  border: 1px solid #E5E5E5;
  min-height: 150px;
  padding: 0 10px 16px 10px;
  &__img {
    width: 100%;
    max-height: 230px;
    object-fit: contain;
    margin-bottom: 11px;
  }
  &__title {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2B2B2B;
    margin-bottom: 8px;
  }
  &__articule {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #7A8083;
    margin-bottom: 12px;
  }
  &__labels {
    width: 100%;
    margin-bottom: 8px;
  }
  &__totalCost {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    width: 45%;
    color: #363B3E;
  }
  .counter {
    width: 45%;
    margin-bottom: 8px;
  }
  &__addLink {
    display: flex;
    width: 45%;
    padding-left: 5%;
    align-self: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #2B2B2B;
  }
  &__inCartBtn {
    margin-bottom: 0 !important;
    width: 120px;
    text-transform: uppercase;
  }
  &__info {
    margin-top: 12px;
    padding: 10px;
    background: #E4E7ED;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #545F71;
    strong {
      font-weight: 500;
    }
  }
}

.priceLabel {
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  border-radius: 5px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #2B2B2B;
  margin-bottom: 8px;
  margin-right: 8px;
  &_weight {
    background: #F2EAE2;
  }
  &_size {
    background: #EAF2E2;
  }
  &_material {
    background: #E2EFF2;
  }
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  &__price {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #363B3E;

  }
}
.JC {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
