.cardFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  background: #F3F2F1;
  border: 1px solid #F3F2F1;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  &__wrap {
    display: flex;
    flex-direction: row;
  }
  &__chooses {
    display: flex;
    width: 160px;
    height: 188px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: 16px;
    background: #E47665;
    border-radius: 5px;
    padding: 0 10px;
  }
  &__title {
    margin-top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
  }
  .disps {
    display: flex;
    flex-direction: column;
    height: 188px;
    justify-content: space-between;
    margin-right: 16px;
  }
  .altLink {
    max-width: 153px;
  }
  @media screen and (max-width: 39.9375em) {
    padding: 20px 12px;
    &__chooses {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      height: 88px;
      margin: 0;
    }
    &__title {
      margin-top: 0;
    }
    .altLink {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2B2B2B;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: none;
      width: 29%;
      height: 88px;
      background: #FFFFFF;
      border-radius: 0px 5px 5px 0px;
      margin: 0;

    }
  }
}
.dispsBtn {
  width: 160px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid transparent;
  &:hover, &:focus {
    color: #E47665;
    background: #FFFFFF;
    border: 1px solid #E47665;
  }
}
.altLink {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #2B2B2B;
  text-decoration: underline;

}
