// USER VARIABLES SECTION

$accent: #508FCE; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #6B7676; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: Roboto, sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 1px;
$gutter: $grid-gutter-width;
$grid-breakpoints: (
	// Extra small screen / phone
				xs: 0,
	// Small screen / phone
				sm: 576px,
	// Medium screen / tablet
				md: 768px,
	// Large screen / desktop
				lg: 992px,
	// Extra large screen / wide desktop
				xl: 1200px
);

$container-max-widths: (
				sm: 540px,
				md: 720px,
				lg: 960px,
				xl: 1100px
);
// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
@import '../lib.css'; //
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
::-webkit-input-placeholder { /* Edge */
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #ADADAD;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #ADADAD;
}

::placeholder {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #ADADAD;
}
input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}
p {
	margin: 0;
	padding: 0;
}
.cS-hidden {
	height: 1px;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
}

.lSSlideOuter .lSPager.lSpg {
	display: none;
}
.lSSlideOuter.vertical .lSGallery {
	height: 400px !important;
}
.big-picture {
	padding-right: 50px;
	padding-top: 40px;
	img {
		height: 240px;
		width: 100%;
		object-fit: cover;
	}
}
