.title-bar {
  width: 100%;
  z-index: 10;
  transition: height .25s ease;
  height: 60px;
  background-color: #fff !important;

}
.tops {
  background-color: #fff;
  margin-bottom: 24px;
  border-bottom: 1px solid #F4F3F4 !important;
}
.title-bar .title-bar-right,
.title-bar .title-bar-left {
  transition: padding-top .25s ease;
}
.title-bar.shrink {
  height: 3em;
}
.title-bar.shrink .title-bar-right,
.title-bar.shrink .title-bar-left {
  padding-top: 0;
}
.title-bar .dropdown.menu li {
  float: left;
}
.title-bar .dropdown.menu .is-dropdown-submenu {
  border: none;
  background-color: #2c3840;
}
#root {
  margin-top: 2em;
}
.hover-meneIcon {
  margin-right: 17px;
  padding-top: 5px;
}
.title-bar-center a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2B2B2B !important;

}
.title-bar-center {
  width: 368px;
}
.title-bar-center a:hover,a:focus {
  color: #7A8083 !important;
}
.btn-wrap {
  display: flex;
  align-content: flex-end;
}
.CartBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 145px;
  min-width: 120px;
  height: 32px;
  left: 1040px;
  top: 12px;
  background: #F4F3F4;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 12px;
  padding: 0 12px;
  color: #2B2B2B;
  border: 1px solid transparent;
  &__title {
    margin-left: 3px;
  }
  &:hover, &:focus {
    background: #FFFFFF;
    border: 1px solid #F4F3F4;
    border-radius: 5px;
  }
  .fab-tag {
    margin-left: 3px;
  }
}
.SignIn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 72px;
  height: 32px;
  left: 1040px;
  top: 12px;
  background: #2B2B2B;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #fff;
  &:hover, &:focus {
    background: #6F6F6F;
  }
  &_sm {
    width: 40px;
  }
}
.fab-tag {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FF005C;
  padding-top: 1px;
  color: #FFFFFF;
}
.LK-btn {
  width: 183px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #F4F3F4;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2B2B2B;
  padding: 0 12px;
  &:hover, &:focus {
    background: #F3F2F1;
    border: 1px solid #E5E5E5;
  }
}
