.tabsBtn {
  display: inline-block;
  line-height: 32px;
  padding: 0 12px;
  height: 32px;
  left: 450px;
  top: 375px;
  background: #fff;
  border: 0.5px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  color: #2B2B2B;
  margin-bottom: 16px;
  margin-right: 12px;
  font-weight: 300;
  font-size: 14px;
  &__active {
    background: #479EFC;
    color: #FFFFFF !important;
  }
  &:hover {
    background: #FFFFFF;
    color: #2B2B2B;
    border: 0.5px solid #479EFC;
    box-sizing: border-box;
  }
  &:active, &:focus {
    background: #479EFC;
    color: #FFFFFF !important;
  }
}

.tabsBtnWrap {
  margin-top: 24px;
  margin-bottom: -8px;
}
