.breadcrumbs a:hover {
  text-decoration: none !important;
  color: #2B2B2B !important;
}
.accordion-item {
  border-bottom: 1px solid #F4F3F4;
}
.accordion-title {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px;
  line-height: 16px !important;
  letter-spacing: 0.02em !important;
  text-transform: uppercase !important;
  &:hover, &:focus {
    color: #2B2B2B !important;
  }
}
.categoryTitle {
  margin: 24px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #2B2B2B;

}
