.sq-completion {
  padding: 40px 0;
  @media only screen and (max-width: 960px) {
    padding: 40px 12px;
    .completionList {
      width: 100%;
      min-height: auto;
      &__item {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
      &_LB {
        width: 100%;
      }
      &_RB {
        width: 100%;
      }
    }
  }
}
.completionList {
  width: 425px;
  min-height: 160px;
  &__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2F2F2F;
  }
  &__value {
    font-weight: 300;
    color: #666666;
  }
  &_LB {
    width: 425px;
  }
  &_RB {
    width: 100%;
  }
}
