.sq-ivl {
  display: flex;
  min-height: 360px;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 0;
  @media only screen and (max-width: 768px) {
    padding: 40px 12px;
    .text {
      padding-bottom: 20px;
    }
  }
  .text-wrap {
    max-width: 804px;
  }
  .text {
    padding-bottom: 24px;
  }
}
